<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae odit quos, sequi atque quidem deserunt totam ducimus, asperiores voluptatum neque exercitationem? Debitis quos id voluptatum nulla perferendis repellat eaque temporibus omnis ratione veniam. Error quos, dolor tempore itaque velit adipisci est officia dignissimos similique beatae eos nemo, earum, quibusdam amet inventore veniam molestias nobis enim. Doloremque doloribus id fuga nam, inventore asperiores libero accusantium dolore repellat! Ea hic nemo fuga fugiat iusto quae quis necessitatibus maxime totam illo architecto quos quia, repellat esse suscipit laudantium exercitationem voluptas beatae enim. Corrupti, non quasi odio repellat quaerat eum. Error reprehenderit doloribus reiciendis!</p>

<%- include("footer") -%>